@import "variables";

.action-menu-submenu, .action-menu-root.action-menu-context-root {
    border-radius: 4px;
    background-color: #fff;
    border: 1px solid #F4F4F4;
    padding: 10px 0px;
    min-width: 150px;
    box-sizing: border-box;
}

.action-menu-item.action-menu-sub-menu-item::after {
    content: "\25B6";
    font-size: 12px;
    right: 8px;
    position: absolute;
    line-height: 16px;
    height: 16px;
    top: 7px;
    font-family: arial;
}

.action-menu-item-content .icon-container {
    width: 16px;
    height: 16px;
    display: inline-block;
    margin-right: 12px;
    vertical-align: top;
}

.action-menu-item-content .text-container {
    display: inline-block;
    vertical-align: top;
    max-width: 256px;
    word-wrap: break-word;
}

.action-menu-item:hover .icon,
.action-menu-item.action-menu-sub-menu-item.action-menu-active .icon {
    color: #BE7306;
}

.action-menu-item, .action-menu-item.action-menu-disabled:hover .icon {
    color: #5B616A;
}

.action-menu-item {
    width: 100%;
    box-sizing: border-box;
}

.action-menu-item.touch-hover {
    background-color: $touch-hover-color !important;
}

.action-menu-divider {
    height: 1px;
    background-color: #e6e6e6;
    margin: 5px 0px;
}

.action-menu-item:hover,
.action-menu-item.action-menu-sub-menu-item.action-menu-active {
    background-color: #e6e6e6;
}

.action-menu-item.action-menu-disabled {
    background-color: transparent !important;
    opacity: 0.3 !important;
    cursor: default;
}

.action-menu-item.action-menu-sub-menu-item {
    cursor: default;
    position: relative;
}

.action-menu-item-content {
    font-size: 14px;
    padding: 7px 10px;
}

.action-menu-context-root,
.action-menu-submenu {
    @include transition-transform-filter-separate(0.3s cubic-bezier(0.4, 0, 0.2, 1),
                                                  0.2s cubic-bezier(0.4, 0, 0.2, 1));
    @include transform-origin(top left 0);
}

.action-menu-context-root.transition-in,
.action-menu-submenu.transition-in {
    filter: opacity(100%);
    -webkit-filter: opacity(100%);
    @include scale(1, 1);
}

.action-menu-context-root.transition-in.initial,
.action-menu-submenu.transition-in.initial {
    filter: opacity(0%);
    -webkit-filter: opacity(0%);
    @include scale(0, 0);
}

.action-menu-context-root.transition-out,
.action-menu-submenu.transition-out {
    filter: opacity(0%);
    -webkit-filter: opacity(0%);
    @include scale(1, 1);
}

.action-menu-context-root.transition-out.initial,
.action-menu-submenu.transition-out.initial {
    filter: opacity(100%);
    -webkit-filter: opacity(100%);
    @include scale(1, 1);
}
