@import "variables";
@import "fonts";
@import "grid";
@import "glyphicons";
@import "content";
@import "icomoon";
@import "gestures";
@import "transitions";
@import "player-controls";
@import "action-menu";
@import "shadows";
@import "tooltip";
@import "snackbar";
@import "popup";
@import "equalizer";
@import "tracks";
@import "visualizer";
@import "crossfading";
@import "playlist";
@import "slider";
@import "util";
@import "forms";
@import "ripple";
@import "spinner";
@import "track-rating";
@import "search";
@import "queue";
@import "permission-prompt";
@import "chips";
@import "preferences";

.tracks-menu-module-container,
.settings-menu-module-container,
.selection-menu-module-container {
    margin: 15px 0px;
    padding-bottom: 10px;
}

.module-container {
    border-radius: $subtle-radius;
    background-color: #fff;
    border: 1px solid #F4F4F4;
}

.app-bread-text {
    font-size: $text-size;
}
