@import "variables";
@import "shadows";

$tab-height: 32px;

.content-section-container {
    contain: content;
    grid-area: content-section;
    border-radius: $subtle-radius;
    overflow: hidden;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: $tab-height 2px 1fr;
    grid-template-areas:
        "playlist-tab-button search-tab-button queue-tab-button"
        "active-tab-indicator-container active-tab-indicator-container active-tab-indicator-container"
        "content content content";

    .tab-button {
        contain: content;
        text-align: center;
        font-size: 15px;
        color: $text-color;
        background: linear-gradient(to bottom, #ffffff 0%, #fafafa 100%);

        &.active {
            color: $secondary-color;
        }

        .tab-button-text {
            vertical-align: top;
            line-height: $tab-height;
        }

        .icon {
            line-height: $tab-height;
        }
    }

    .playlist-tab-button {
        grid-area: playlist-tab-button;
    }

    .search-tab-button {
        grid-area: search-tab-button;
    }

    .queue-tab-button {
        grid-area: queue-tab-button;
    }

    .active-tab-indicator-container {
        background: linear-gradient(to bottom, rgba(228,228,228,1) 0%,rgba(244,244,244,1) 100%);
        grid-area: active-tab-indicator-container;
        position: relative;
        contain: content;

        .active-tab-indicator {
            background-color: $secondary-color;
            width: calc(100% / 3);
            transform: translate3d(0, 0, 0);
            height: 100%;
            position: absolute;
            z-index: 3;
        }
    }

    .content {
        background: linear-gradient(to bottom, #ffffff 0%, #fafafa 100%);
        grid-area: content;
        position: relative;

        .list-container {
            position: absolute;
            width: 100%;
            height: 100%;
        }
    }

    .content-section-content {
        overflow: hidden;
        width: 100%;
        border-radius: $subtle-radius;
        position: absolute;
        top: $tab-height;
        left: 0;

        .status-info-container {
            box-sizing: border-box;
            display: block;
            width: 100%;
            position: absolute;
            top: 10px;
            left: 0px;
            padding-left: 40px;

            .status-info-header {
                font-size: $text-size-biggest;
                padding-bottom: 6px;
                color: #5B616A;
                border-bottom: 1px solid #E6E6E6;
                position: relative;
            }

            .status-info-header:before {
                content: " ";
                position: absolute;
                height: 1px;
                width: 100%;
                background-color: #F7F7F7;
                bottom: 0px;
            }

            .status-info-text {
                font-size: $text-size;
                padding-top: 0px;
                padding-left: 10px;
                color: $text-color;
            }
        }
    }
}

.no-touch {
    .content-tab-container {
        .tab {
            &:hover {
                background-color: rgba(255, 255, 255, 0.089);
            }
        }
    }
}
