@import "variables";
@import "util";
@import "scaling";
@import "tags";
@import "loader";
@import "toolbar";

#ui-log-container {
    display: none;
    position: absolute;
    top: 0px;
    left: 0px;
    margin: 10px;
    font-size: 12px;
    height: 93%;
    width: 93%;
    z-index: 100000000;
    background-color: #999;
    opacity: 0.9;
    box-sizing: border-box;
    padding: 5px 10px;
    color: #fff;
    border: 1px solid #000;
    #ui-log {
        margin: 0;
        padding: 0;
        pointer-events: none;
        width: 100%;
        height: 100%;
        overflow: hidden;
        line-height: 12px;
        word-wrap: break-word;
        white-space: pre-wrap;
    }

    #close-log {
        text-decoration: underline;
        display: block;
        width: 100%;
        height: 20px;
    }
}
