@import "variables";

.crossfade-settings-container {
    @include large-screen {
        width: $small-screen-width - $popup-gutter;
    }

    @include small-screen {
        width: $small-screen-width - $popup-gutter;
    }

    .fade-configurator-container {
        display: inline-block;
        vertical-align: top;

        width: 100%;

        @include large-screen {
            width: ($small-screen-width - $popup-gutter) / 2;
        }

        @include small-screen {
            width: ($small-screen-width - $popup-gutter) / 2;
        }

        padding: 5px 10px;
    }

    .fade-inputs-container {
        .fade-time-label, .fade-time-slider, .fade-time-value {
            font-size: 14px;
            display: inline-block;
            vertical-align: top;
            height: 100%;
            line-height: $line-height;
        }

        .fade-time-label, .fade-time-value {
            width: $label-width;
        }

        .fade-time-value {
            text-align: center;
        }

        .fade-time-slider {
            @include calc(width, "100% - #{$label-width * 2}");
        }

        .fade-curve-label {
            width: $label-width;
        }
    }
}
