@import "variables";

.equalizer-popup-content-container {
    width: 100%;
    @include large-screen {
        width: 640px;
    }
}

.app-general-slider-wrap.vertical.equalizer-slider-wrap {
    margin: 10px;
}

.equalizer-band-configurator-container {
    box-sizing: border-box;
    display: inline-block;
    vertical-align: top;

    width: (280px / 5);
    @include large-screen {
        width: (620px / 10);
    }
    height: 107px;

    div {
        box-sizing: border-box;
    }

    .equalizer-slider-container {
        width: $slider-input-area-size;
        height: 76px;
        margin: 0px auto;
    }

    .equalizer-band-label-container {
        text-align: center;
        margin-top: 12px;
        font-size: 13px;
    }
}

.equalizer-descriptor-container {
    width: 45px;
    height: 146px;
    display: inline-block;
    position: relative;
}

.equalizer-sliders-container {
    display: block;
    margin: 10px auto 0px auto;
    width: 100%;
}
