@import "variables";

.floating-action-button {
    display: none;
    width: 56px;
    height: 56px;
    z-index: 400;
    color: #fff;
    font-size: $text-size;
    border-radius: 50%;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
                0 1px 5px 0 rgba(0, 0, 0, 0.12),
                0 3px 1px -2px rgba(0, 0, 0, 0.2);
    position: absolute;
    bottom: 4px;
    right: 16px;

    background-color: $primary-color-darker;

    &.preferred-action {
        background-color: $secondary-color;
    }

    .icon {
        font-size: 28px;
        margin: 14px;
        display: block;
        text-align: center;
    }
}

