@import "variables";

.textbox {
  border: none;
  padding: 5px 0;
  margin: 0;
  background: none;
  text-align: left;
  outline: none;
  display: inline-block;
  box-sizing: border-box;
  font-family: "Droid Sans";
  border-bottom: 2px solid $unfocused-form-color;
  color: $unfocused-form-color;

  &:focus {
    outline: none;
    color: #333;
    border-color: $primary-color;
  }
}

.settings-container {
  box-sizing: border-box;
  font-size: 0;
  div {
      box-sizing: border-box;
  }

  width: 100%;

  .inline-label {
    font-size: $text-size;
    display: inline-block;
  }

  .section-container {
      width: 100%;
      padding: 5px 10px;
  }

  .fixed-width-small-label {
    width: 46px;
    max-width: 46px;
    display: inline-block;
  }

  .inline-separator {
    display: inline-block;
    margin: 0px 36px;
    width: 1px;
    height: 1px;
  }

  .pull-right {
    float: right;
    display: inline-block;
  }

  p {
    font-size: $text-size;
    margin: 0px;
    &.inline {
      display: inline-block;
    }
  }

  .inputs-container {
    min-height: $slider-input-area-size;
    margin: 12px 0px;
    $label-width: 72px;
    $line-height: $slider-input-area-size;


    .label, .checkbox-container, .slider, .slider-value-indicator {
        font-size: $text-size;
        display: inline-block;
        vertical-align: top;
        min-height: $slider-input-area-size;
        line-height: $line-height;
    }

    .slider-value-indicator {
      width: $label-width;
      text-align: center;
    }

    .slider {
        @include calc(width, "100% - #{$label-width * 2}");

        &.unlabeled-slider {
          @include calc(width, "100% - #{$label-width}");
        }
    }

    .label {
        text-align: left;
        width: $label-width;

        label {
            font-weight: normal;
        }

        &.subtitle {
          font-weight: bold;
        }

        &.wide-label {
            @include calc(width, "100% - #{$label-width}");
            text-align: left;
        }

        &.overhead-label {
            display: block;
            width: 100%;
        }
    }

    .checkbox-container {
        width: $label-width;

        .checkbox {
            width: $slider-input-area-size - 12px;
            height: $slider-input-area-size - 12px;
            line-height: $slider-input-area-size - 12px;
            margin: 6px;
            padding: 0;
            box-sizing: border-box;
            display: block;
        }
    }

    .select-container {
        display: inline-block;
        vertical-align: top;
        @include calc(width, "100% - #{$label-width}");
        height: $slider-input-area-size;
        line-height: $line-height;

        select {
            height: $slider-input-area-size;
            line-height: $line-height;
            width: 100%;
            font-size: $text-size;
        }
    }
  }
}
