@import "variables";

.textbox {
  border: none;
  padding: 5px 0;
  margin: 0;
  background: none;
  text-align: left;
  outline: none;
  display: inline-block;
  box-sizing: border-box;
  font-family: "Droid Sans";
  border-bottom: 2px solid $unfocused-form-color;
  color: $unfocused-form-color;

  &:focus {
    outline: none;
    color: #333;
    border-color: $primary-color;
  }
}

input[type=checkbox] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  @include material-icons();
  color: $text-color;
  display: block;
  text-align: center;
  font-size: 32px;
  margin: 0;
  padding: 0;

  &:before {
    content: "\e835";
  }

  &:checked:before {
    color: $primary-color-darker;
    content: "\e834";
  }
}

$section-header-height: 60px;
$section-text-height: 36px;
$section-column-width: 86px;

$equalizer-slider-vertical-space: 120px;
$equalizer-slider-height: $equalizer-slider-vertical-space - $section-text-height;

@mixin two-item-section-grid() {
    grid-template-rows: $section-header-height $section-text-height $section-text-height;
    grid-template-columns: $section-column-width 1fr $section-column-width;
    grid-auto-columns: $section-column-width 1fr;
    grid-auto-rows: $section-text-height;
    grid-template-areas:
      "header header header"
      "upper-left upper-middle upper-middle"
      "lower-left lower-middle lower-right";
}

@mixin one-item-headerless-section-grid() {
    grid-template-rows: 1fr;
    grid-template-columns: $section-column-width 1fr;
    grid-template-areas: "left middle";
}

@mixin header-text() {
    line-height: $section-header-height;
    font-weight: bold;
}

.one-item-headerless-section {
    display: grid;
    @include one-item-headerless-section-grid();

    .toggle-checkbox {
      grid-area: left;
      line-height: $section-text-height;
      contain: strict;
    }

    .toggle-checkbox-label {
      grid-area: middle;
      line-height: $section-text-height;
      contain: strict;
    }
}

.two-item-section {
    display: grid;
    @include two-item-section-grid();

    .section-header {
      grid-area: header;
      @include header-text();
    }

    .toggle-checkbox {
      grid-area: upper-left;
      line-height: $section-text-height;
      contain: strict;
    }

    .toggle-checkbox-label {
      grid-area: upper-middle;
      line-height: $section-text-height;
      contain: strict;
    }

    .slider-label {
      grid-area: lower-left;
      line-height: $section-text-height;
      text-align: center;
      contain: strict;
    }

    .slider-input {
      grid-area: lower-middle;
      padding-top: 2px;
      contain: layout;
    }

    .slider-value {
      grid-area: lower-right;
      text-align: center;
      line-height: $section-text-height;
      contain: strict;
    }
}

.album-preference-container {
    margin-top: 10px;
}

.section-separator {
    width: 100%;
    height: 1px;
    margin: 10px 0px;
}

.equalizer-section {
    display: grid;
    grid-template-rows: $section-header-height ($equalizer-slider-vertical-space * 2) 15px $section-text-height;
    grid-template-columns: $section-column-width 1fr;
    grid-template-areas:
      "header header"
      "equalizer equalizer"
      ". ."
      "preset-label preset-input";

    .input-label {
        grid-area: preset-label;
        line-height: $section-text-height;
        contain: strict;
    }

    .input-control {
        grid-area: preset-input;
        line-height: $section-text-height;
        width: 100%;
        height:  $section-text-height;
        box-sizing: border-box;
        contain: strict;
    }

    .section-header {
        grid-area: header;
        @include header-text();
    }

    .equalizer {
        $slider-width: 72px;

        grid-area: equalizer;
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-rows: $equalizer-slider-height $section-text-height $equalizer-slider-height $section-text-height;
        grid-template-columns: 1fr $slider-width 1fr $slider-width 1fr $slider-width 1fr $slider-width 1fr $slider-width 1fr;
        grid-template-areas:
          ". slider-input-70 . slider-input-180 . slider-input-320 . slider-input-600 . slider-input-1000 ."
          ". band-label-70 . band-label-180 . band-label-320 . band-label-600 . band-label-1000 ."
          ". slider-input-3000 . slider-input-6000 . slider-input-12000 . slider-input-14000 . slider-input-16000 ."
          ". band-label-3000 . band-label-6000 . band-label-12000 . band-label-14000 . band-label-16000 .";

        .slider-input-70 { grid-area: slider-input-70; }
        .slider-input-180 { grid-area: slider-input-180; }
        .slider-input-320 { grid-area: slider-input-320; }
        .slider-input-600 { grid-area: slider-input-600; }
        .slider-input-1000 { grid-area: slider-input-1000; }
        .slider-input-3000 { grid-area: slider-input-3000; }
        .slider-input-6000 { grid-area: slider-input-6000; }
        .slider-input-12000 { grid-area: slider-input-12000; }
        .slider-input-14000 { grid-area: slider-input-14000; }
        .slider-input-16000 { grid-area: slider-input-16000; }
        .band-label-70 { grid-area: band-label-70; }
        .band-label-180 { grid-area: band-label-180; }
        .band-label-320 { grid-area: band-label-320; }
        .band-label-600 { grid-area: band-label-600; }
        .band-label-1000 { grid-area: band-label-1000; }
        .band-label-3000 { grid-area: band-label-3000; }
        .band-label-6000 { grid-area: band-label-6000; }
        .band-label-12000 { grid-area: band-label-12000; }
        .band-label-14000 { grid-area: band-label-14000; }
        .band-label-16000 { grid-area: band-label-16000; }

        .band-label {
          text-align: center;
          line-height: $section-text-height;
          contain: strict;
        }

        .slider-input {
          padding: 0px floor(($slider-width - $slider-input-area-size) / 2);
          contain: layout;
        }
    }
}
