@import "variables";

.gesture-flash {
    pointer-events: none;
    touch-action: none;
    position: absolute;
    top: 50px;
    left: 0px;
    font-size: 100px;
    line-height: 100px;
    width: 100%;
    z-index: 1000000000;
    height: 200px;
    @include translate3d(0, 0, 0);
    color: #ccc;
    text-align: center;
}

