.app-hotkey-header {
    font-weight: bold;
    color: #000000;
}

.app-hotkey-selected {
    border-bottom: 1px solid #E0E5FF !important;
    background-color: #F5FCFF;
    color: #000000;
}
#app-hotkeys-wrapper {
    width: 290px;
    height: 300px;
    float: left;
    color: #444444;
}
.app-describe-action {
    font-size: 11px;
    padding-top: 15px;
}
.app-hotkeys-container {
    height: 272px;
    margin-top: 8px;
    overflow: hidden;
    position: relative;
}
.app-hotkey-container {
    height: 15px;
    margin: 3px 0px;
    width: 270px;
    font-size: 11px;
    border-bottom: 1px solid transparent;
}
.app-hotkey-bind-container {
    margin-top: 15px;
    display: none;
}
.app-hotkey-container:hover {
    color: black;
}
.app-hotkey-name {
    float: left;
    width: 130px;
    padding-left: 5px;
}
.app-hotkey-binding {
    float: left;
    width: 130px;
    text-align: left;
}

.hotkey-manager-description-header {
    height: 20px;
    border-bottom: 1px dotted #333333;
}

.hotkey-manager-right-column, .hotkey-manager-left-column {
    float: left;
    width: 130px;
    height: 15px;
}

.hotkey-manager-left-column {
    padding-left:5px;
}

.hotkey-manager-description-container {
    padding-left:9px;
    width:301px;
    height:300px;
    float:left;
}

.hotkey-manager-columns-container {
    margin-top: 15px;
    height: 300px;
}

.hotkey-manager-stage-separator {
    height: 40px;
}


.hotkey-manager-binding-to-header {
    margin: 4px 7px;
    width: 140px;
}

.hotkey-action-name {
    font-weight: bold;
}

.app-hotkey-category {
    border-bottom: 1px solid #4B6C91;
    margin-bottom: 5px;
    font-size: 11px;
    color: #4B6C91;
    padding-bottom: 0px;
    letter-spacing: 2px;
    margin-right: 10px;
}

.app-keybind-input {
    margin: 4px 7px 4px 0px;
    width: 150px;
    font-size: 13px;
}
