@font-face {
    font-family: 'icomoon';
    src:url('../fonts/icomoon.eot?aenp1x');
    src:url('../fonts/icomoon.eot?aenp1x#iefix') format('embedded-opentype'),
        url('../fonts/icomoon.ttf?aenp1x') format('truetype'),
        url('../fonts/icomoon.woff?aenp1x') format('woff'),
        url('../fonts/icomoon.svg?aenp1x#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}


.icomoon-icon {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    font-size: 28px;
    font-smoothing: antialiased;
    osx-font-smoothing: grayscale;

    &.small-icomoon-icon {
        font-size: 18px;
    }
}


.icomoon-icon.icomoon-audio-folder:before {
    content: "\e903";
}

.icomoon-icon.icomoon-audio-files:before {
    content: "\e900";
}

.icomoon-icon.icomoon-crossfade:before {
    content: "\e901";
}

.icomoon-icon.icomoon-mic:before {
    content: "\e902";
}

.material-icons.tune:before {
    content: "\e429";
}
.material-icons.delete:before {
    content: "\e872";
}
.material-icons.crop_square:before {
    content: "\e3c6";
}
.material-icons.select_all:before {
    content: "\e162";
}
.material-icons.album:before {
    content: "\e019";
}
.material-icons.mic:before {
    content: "\e029";
}
.material-icons.perm_camera_mic:before {
    content: "\e8a2";
}
.material-icons.music_note:before {
    content: "\e405";
}
.material-icons.grade:before {
    content: "\e885";
}
.material-icons.access_time:before {
    content: "\e192";
}
.material-icons.shuffle:before {
    content: "\e043";
}
.material-icons.undo:before {
    content: "\e166";
}
.material-icons.offline_pin:before {
    content: "\e90a";
}
.material-icons.cloud_upload:before {
    content: "\e2c3";
}
.material-icons.flip_to_front:before {
    content: "\e883";
}

.material-icons.settings:before {
    content: "\e8b8";
}

.material-icons.menu:before {
    content: "\e5d2";
}

.material-icons.folder:before {
    content: "\e2c7";
}

.material-icons.insert-drive-file:before {
    content: "\e24d";
}

.material-icons.playlist:before {
    content: "\e05f";
}

.material-icons.queue:before {
    content: "\e03d";
}

.material-icons.search:before {
    content: "\e8b6";
}

.material-icons.blank-checkbox:before {
    content: "\e835";
}

.material-icons.checked-checkbox:before {
    content: "\e834";
}

.material-icons.selection-menu-options:before {
    content: "\e5d4";
}

.material-icons.close:before {
    content: "\e5cd";
}

.material-icons.reorder:before {
    content: "\e8fe";
}

.material-icons.add-to-playlist:before {
    content: "\e03b";
}

.material-icons.add:before {
    content: "\e145";
}

.material-icons.play:before {
    content: "\e037";
}

.material-icons.pause:before {
    content: "\e034";
}

.material-icons.shuffle-mode:before {
    content: "\e043";
}

.material-icons.repeat-mode:before {
    content: "\e042";
}
