.playlist-spacer {
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
}

.app-empty-playlist-suggest {
    margin: 2px 0px;
}

ul.app-empty-playlist-ul {
    padding-left: 15px;
    list-style: disc;
}

ul.app-empty-playlist-ul li {
    margin-top: 6px;
}

#app-playlists-table {
    height: 185px;
    overflow: auto;
}

.tracks-list-container {
    background-color: #FAFAFA;
}

#app-playlist-container {
    position: relative;
    overflow: hidden;
    width: 100%;
    transform: translate3d(0, 0, 0);
}

.playlist-empty {
    display: block;
    width: 100%;
    position: absolute;
    top: 25px;
    left: 0px;
    padding-left: 40px;
}

.playlist-empty-instructions {
    font-size: 14px;
    padding-top: 15px;
    padding-left: 10px;
    color: #333;
}

.app-info-status-text {
    font-size: 17px;
    padding-bottom: 6px;
    color: #5B616A;
    border-bottom: 1px solid #E6E6E6;
    position: relative;
}

.app-info-status-text:before {
    content: " ";
    position: absolute;
    height: 1px;
    width: 100%;
    background-color: #F7F7F7;
    bottom: 0px;
}

.playlist-section-container {
    width: 100%;
    margin-top: 15px;
}
