@import "variables";

$button-size: 20px;
$big-button-size: 26px;
$button-width: 34px;
$volume-slider-width: 90px;
$upper-height: 32px;
$lower-height: $picture-height - $upper-height;
$big-button-width: min($lower-height, 54px);

.no-touch {
    .grid-button-container:hover {
        color: #000;
        text-shadow: 1px 1px 1px #aaa;
    }

    .grid-button-container.disabled:hover {
        text-shadow: none;
    }
}

.player-controls-section {
    grid-area: player-controls-section;
    contain: content;
}

.player-controls {
    font-size: $text-size;
    contain: content;
    color: #666;
    border-bottom: 1px solid #fbfbfb;
    @include border-right-radius($subtle-radius);
    display: grid;
    grid-template-columns: $picture-width $button-width $volume-slider-width 1fr $button-width $button-width $button-width 1fr $big-button-width 4px;
    grid-template-rows: $upper-height $lower-height;
    grid-template-areas:
        "picture track-status track-status track-status track-status track-status track-status track-status track-status track-status"
        "picture mute-button volume-slider . previous-button favorite next-button . play-pause-button .";

    .grid-button-container {
        align-self: stretch;
        justify-self: stretch;

        .icon {
            display: block;
            font-size: $button-size;
            width: $button-size;
            height: $button-size;
            margin: floor(($lower-height - $button-size) / 2) - 2px auto;
        }

        .icon.glyphicon.glyphicon-volume-off {
            color: #960707;
        }

        &.disabled {
            opacity: 0.3;
        }
    }

    .picture-container {
        grid-area: picture;
        contain: content;
        img {
            height: $picture-height;
            width: $picture-width;
        }

    }

    .track-status-container {
        grid-area: track-status;
        contain: content;
        position: relative;
        overflow: hidden;
        border-top-right-radius: $subtle-radius;
        background: linear-gradient(to bottom, #FFF 0%,#F6F6F6 47%,#EDEDED 100%);
        border-bottom: 1px solid #eee;

        .track-ticker-container {
            text-shadow: 1px 1px 1px #111;
            color: #fcfcfc;
            font-weight: bold;
            line-height: 14px;
            text-align: center;
            white-space: nowrap;
            background-color: transparent;
            margin: 0px auto;
            width: 97%;

            .track-ticker {
                margin-top: 7px;
                cursor: default;
                display: inline-block;
                vertical-align: top;
            }
        }

        .track-progress-fill {
            top: 0;
            left: 0;
            position: absolute;
            @include translate3d(-100%, 0, 0);
            will-change: transform;
            height: 100%;
            width: 100%;
            background: linear-gradient(to bottom, #dbf1fb 0%,#b8e4f6 100%);
            cursor: default;
            border-radius: 2px;
        }
    }

    .mute-button-container {
        contain: content;
        grid-area: mute-button;
    }

    .volume-slider-container {
        grid-area: volume-slider;
        contain: content;
        padding: 0px 5px;
        .volume-slider {
            margin-top: floor(($lower-height - $slider-input-area-size) / 2);
        }
    }

    .favorite-container {
        grid-area: favorite;
        align-self: stretch;
        justify-self: center;
        contain: content;

        .favorite-icon-container {
            width: $button-width;
            height: 100%;
            box-sizing: border-box;
            padding: (floor(($lower-height - $big-button-size) / 2) - 1px)
                      floor(($button-width - $big-button-size) / 2);
            text-shadow: 1px 1px 1px #333;

            color: #ddd;

            &.rated {
               color: #F2E99C;
            }

            .icon {
                font-size: $big-button-size;
                width: $big-button-size;
                height: $big-button-size;
                margin: 0;
                padding: 0;
            }
        }
    }

    .previous-button-container {
        grid-area: previous-button;
        contain: content;
    }

    .play-pause-button-container {
        grid-area: play-pause-button;
        contain: content;

        .play-pause-morph-icon-container {
            position: relative;
            overflow: hidden;
            width: $big-button-width;
            height: $big-button-width;
            margin-top: floor(($lower-height - $big-button-width) / 2);
            border: 1px solid #333;
            box-sizing: border-box;

            border-radius: 50%;

            .play-pause-morph-icon {
                position: absolute;
                left: floor(($big-button-width - $big-button-size) / 2);
                top: floor(($big-button-width - $big-button-size) / 2) - 2px;
                width: $big-button-size;
                height: $big-button-size;
                transition: transform 0.4s ease;
                @include translateY(0);

                .glyphicon-play {
                    @include translateY(0);
                }

                .glyphicon-pause {
                    @include translateY(-($big-button-size + floor(($big-button-width - $big-button-size) / 2)));
                }

                &.pause {
                    @include translateY(($big-button-size + floor(($big-button-width - $big-button-size) / 2)));
                }

                &.play {
                    @include translateY(0);
                }
            }

            .icon {
                font-size: $big-button-size;
                width: $big-button-size;
                height: $big-button-size;
                position: absolute;
                margin: 0 !important;
                padding: 0 !important;
                top: 0;
                left: 0;
            }
        }

    }

    .next-button-container {
        grid-area: next-button;
    }
}

.track-time-container {
    width: 100%;
    height: 19px;
    font-size: $text-size;
    line-height: 15px;
    position: relative;
    white-space: nowrap;
    z-index: 1;
    margin: 0px;
    color: #7a7a7a;
    overflow: hidden;

    .current-time-container,
    .total-time-container {
        width: 40px;
        height: 19px;
        text-align: center;
        position: absolute;
        bottom: 0px;
        @include translateY(0);
        transition: transform .4s cubic-bezier(.55, 0, .1, 1);
        padding: 4px 4px 0px 4px;
        contain: style layout;

        &.hidden {
            @include translateY(100%);
        }
    }

    .current-time-container {
        left: 35px;
    }

    .total-time-container {
        right: 35px;
    }
}

.slanted {
    border-top: 1px solid #ECECEC;
    background: linear-gradient(to top, #FFF 0%,#F3F3F3 100%);
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;

    &:before, &:after {
        position: absolute;
        bottom: 0px;
        width: 15px;
        height: 19px;
        content: " ";
        border: 1px solid #ECECEC;
        border-bottom: none;
        background: linear-gradient(to top, #FFF 0%,#F3F3F3 100%);
        z-index: 3;
    }

    &:before {
        left: -12px;
        border-right: none;
        border-top-left-radius: 6px;
        @include skew1(-23deg);
    }

    &:after {
        right: -12px;
        border-left: none;
        border-top-right-radius: 6px;
        @include skew1(23deg);
    }
}
