@import "variables";

.player-upper-container {
    margin-top: 12px;
}

.player-control-panel-container {
    @include desktop {
        width: $large-screen-width - $total-app-border - $desktop-picture-size;
    }

    @include non-desktop {
        @include calc(width, "100% - #{$non-desktop-picture-size}");
    }
}

.player-control-panel-container .button-groups-container {
    @include desktop {
        height: $player-panel-lower-container-height;
        margin: #{$desktop-picture-size - $non-desktop-picture-size} 0 0 0;
    }

    @include non-desktop {
        height: $player-panel-lower-container-height;
    }
}

.player-control-panel-container .control-panel-lower-container {
    @include desktop {
        height: #{$player-panel-lower-container-height + $desktop-picture-size - $non-desktop-picture-size};
    }

    @include non-desktop {
        height: $player-panel-lower-container-height;
    }
}

.coverart-section-container {
    @include desktop {
        width: $desktop-picture-size;
    }

    @include non-desktop {
        width: $non-desktop-picture-size;
    }
}

$slider-width: 88px;
$slider-margin: 6px;
$button-width: 34px;
$big-button-width: 54px;
$big-button-size: 26px;
$button-size: 20px;
$player-controls-container-space: $big-button-width + $button-width * 2;
$playlist-controls-container-space: $button-width;
$volume-controls-container-space: $slider-width + 2px + $button-width + $slider-margin;

.picture-container,
.picture-container img {
    @include desktop {
        height: $desktop-picture-size;
        width: $desktop-picture-size;
    }

    @include non-desktop {
        height: $non-desktop-picture-size;
        width: $non-desktop-picture-size;
    }
}

.button-group .button-group-button,
.button-group .button-group-item {
    width: $button-width;
}

.picture-container {
    contain: strict;
}

.player-control-panel-container.module-container,
.picture-module-container.module-container {
    margin: 0;
    padding: 0;
    border: 0;
    border-radius: 0;
    box-sizing: border-box;
    display: inline-block;
    vertical-align: top;
}

.player-control-panel-container.module-container {
    @include border-right-radius($subtle-radius);
}

.coverart-and-controls-container {
    border-bottom: 1px solid #fbfbfb;
    @include border-right-radius($subtle-radius);
}

.track-display-container {
    z-index: 5;
    position: relative;
    height: $track-progress-height;
    overflow: hidden;
    white-space: nowrap;
    background-color: transparent;
    width: 97%;
    margin: 0px auto;

    .track-display {
        margin-top: 7px;
        cursor: default;
        display: inline-block;
        vertical-align: top;
    }
}


#track-progress {
    z-index: 3;
    position: absolute;
    left: 0;
    @include translate3d(-100%, 0, 0);
    will-change: transform;
    height: $track-progress-height;
    background: linear-gradient(to bottom, #dbf1fb 0%,#b8e4f6 100%);
    width: 100%;
    cursor: default;
    border-radius: 2px;
}

#track-progress-container {
    contain: strict;
    text-shadow: 1px 1px 1px #111;
    position: relative;
    color: #fcfcfc;
    font-weight: bold;
    font-size: $text-size;
    line-height: 14px;
    height: $track-progress-height;
    text-align: center;
    width: 100%;
    background: linear-gradient(to bottom, #FFF 0%,#F6F6F6 47%,#EDEDED 100%);
    border-bottom: 1px solid #ccc;

    border-top-right-radius: $subtle-radius;
}
;
.smoothness-separator {
    width: 100%;
    height: 1px;
    background-color: #eee;
}

#app-player-panel-container {
    background-color: #FFFFFF;
}

.player-control-panel-container .button-groups-container {
    font-size: 0;
    position: relative;
    border-bottom-right-radius: $subtle-radius;
    contain: strict;
}

.player-control-panel-container .control-panel-lower-container {
    display: inline-block;
    vertical-align: top;
    width: 100%;
}

.picture-module-container.module-container,
.player-control-panel-container .control-panel-lower-container {
    background: #FFF;
    background: -moz-linear-gradient(top, #FAFAFA 0%, #FAFAFA 100%);
    background: -webkit-linear-gradient(top, #FFF 0%,#FAFAFA 100%);
    background: linear-gradient(to bottom, #FFF 0%,#FAFAFA 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#FAFAFA',GradientType=0 );
}

.button-group .button-group-button,
.button-group .button-group-item,
.button-group .button-group-button.just-deactivated {
    background-color: transparent;
    color: #666;
}

.button-group .button-group-button,
.button-group .button-group-item {
    display: inline-block;
    font-size: $button-size;
    line-height: $button-size;
    vertical-align: top;
    height: 100%;
    box-sizing: border-box;
    text-align: center;
}

.button-group .button-group-button.touch-hover {
    background-color: $touch-hover-color !important;
}

.play-pause-morph-icon-container {
    position: relative;
    overflow: hidden;
    display: inline-block;
    vertical-align: top;
    width: $big-button-width;
    height: $big-button-width;
    margin-top: floor(($player-panel-lower-container-height - $big-button-width) / 2);
    border: 1px solid #333;
    box-sizing: border-box;

    border-radius: 50%;

    .play-pause-morph-icon {
        position: absolute;
        left: floor(($big-button-width - $big-button-size) / 2);
        top: floor(($big-button-width - $big-button-size) / 2) - 2px;
        width: $big-button-size;
        height: $big-button-size;
        transition: transform 0.4s ease;
        @include translateY(0);

        .glyphicon-play {
            @include translateY(0);
        }

        .glyphicon-pause {
            @include translateY(-($big-button-size + floor(($big-button-width - $big-button-size) / 2)));
        }

        &.pause {
            @include translateY(($big-button-size + floor(($big-button-width - $big-button-size) / 2)));
        }

        &.play {
            @include translateY(0);
        }
    }

    .icon {
        position: absolute;
        left: 0px;
        margin: 0 !important;
        padding: 0 !important;
        top: 0;
        left: 0;
    }
}

.button-group .button-group-button {
    cursor: default;
}

.button-group .button-group-button.disabled {
    cursor: default;
}

.no-touch {
    .button-group .button-group-button.disabled:hover,
    .button-group .button-group-button.just-deactivated:hover {
        background-color: transparent;
        color: #666;
    }

    .app-playlist-mode:hover {
        background-color: #CBDFED;
    }

    .button-group .button-group-button:hover {
        color: #000;
        text-shadow: 1px 1px 1px #aaa;
    }

    .button-group .button-group-button.disabled:hover {
        text-shadow: none;
    }

    .button-group .button-group-button.active:hover {
        color: #85C4FF;
    }
}


.button-group .button-group-button.active {
    color: #85C4FF;
    text-shadow: 1px 1px 0px #E0F0FF;
}

.button-group .button-group-button.disabled {
    opacity: 0.3;
}

.button-group .button-group-button .icon,
.button-group .button-group-item .icon {
    vertical-align: top;
}

.button-group {
    vertical-align: top;
    display: inline-block;
    border: 1px solid #E6E6E6;
    border-radius: $subtle-radius;
    height: 100%;
    box-sizing: border-box;
}

.button-group {
    .button-group-button {
        .icon {
            margin-top: floor(($player-panel-lower-container-height - $button-size) / 2) - 4px;
        }
    }
}

.volume-controls-container.button-group {
    position: absolute;
    left: 0px;
    border-radius: 0px;
    border: none;
    width: $volume-controls-container-space;

    .button-group-button {
        border-right: none;
    }

    .volume-slider-container {
        width: $slider-width + 2px;
        height: 100%;
        display: inline-block;
        margin-left: $slider-margin;

        .slider {
            margin-top: floor(($player-panel-lower-container-height - $slider-input-area-size) / 2) - 3px;
        }
    }

    .icon.glyphicon.glyphicon-volume-off {
        color: #960707;
    }
}

.player-controls-container.button-group {
    position: absolute;
    right: 0px;
    border-radius: 0px;
    border: none;
    width: $player-controls-container-space;
    height: 100%;
    box-sizing: border-box;

    .button-group-button {
        height: 100%;
        &.play-button {
            width: $big-button-width;
            font-size: $big-button-size;
        }
    }
}

.playlist-controls-container.button-group {
    display: none;
    box-sizing: border-box;
    position: absolute;
    right: 0px;
    border-radius: 0px;
    border: none;
    width: $playlist-controls-container-space;
    height: 100%;

    .button-group-button {
        height: floor($player-panel-lower-container-height / 2);

        .icon {
            margin-top: floor((floor($player-panel-lower-container-height / 2) - $button-size) / 2);
        }
    }
}

.playlist-controls-container.button-group,
.playlist-controls-container.button-group .repeat-mode-button {
    border-bottom-right-radius: $subtle-radius;
}

.playback-status-wrapper {
    width: 100%;
    height: 19px;
    font-size: $text-size;
    line-height: 15px;
    position: relative;
    white-space: nowrap;
    z-index: 1;
    margin: 0px;
    color: #7a7a7a;
    overflow: hidden;
}

.playback-status-wrapper .slanted {
    position: relative;
    display: inline-block;
    vertical-align: top
}

.playback-status-wrapper .current-time-container,
.playback-status-wrapper .total-time-container {
    cursor: default;
}

.playback-status-wrapper .time-container {
    width: 40px;
    text-align: center;
    position: absolute;
    bottom: 0px;
    @include translateY(0);
    transition: transform .4s cubic-bezier(.55, 0, .1, 1);
}

.playback-status-wrapper .time-container.hidden {
    @include translateY(100%);
}

.playback-status-wrapper .current-time-container {
    padding: 4px 4px 0px 4px;
    margin-left: 35px;
}

.playback-status-wrapper .total-time-container {
    padding: 4px 4px 0px 4px;
    position: absolute;
    right: 35px;
}

.playback-status-wrapper .time-container .total-time,
.playback-status-wrapper .time-container .current-time {
    width: 40px;
    height: 16px;
}

.slanted {
    border-top: 1px solid #ECECEC;
    background: linear-gradient(to top, #FFF 0%,#F3F3F3 100%);
}

.slanted.left-side-slant {
    border-top-right-radius: 8px;
}

.slanted.right-side-slant {
    border-top-left-radius: 8px;
}


.slanted.left-side-slant:before,
.slanted.right-side-slant:after {
    position: absolute;
    bottom: 0px;
    width: 15px;
    height: 19px;
    content: " ";
    border: 1px solid #ECECEC;
    border-bottom: none;
    background: linear-gradient(to top, #FFF 0%,#F3F3F3 100%);
    z-index: 3;
}

.slanted.left-side-slant:before {
    left: -12px;
    border-right: none;
    border-top-left-radius: 6px;
    @include skew1(-23deg);
}

.slanted.right-side-slant:after {
    right: -12px;
    border-left: none;
    border-top-right-radius: 6px;
    @include skew1(23deg);
}

.mode-active {
    background-color: #CBDFED;
}
