@import "variables";

$header-height: 38px;
$header-margin: 25px;
$header-size: $header-height + $header-margin;
$footer-height: 50px;
$footer-margin: 10px;
$footer-size: $footer-margin + $footer-height;
$footer-header-size: $footer-size + $header-size;

$popup-container-border: 2px;

.popup-container {
    outline: none;
    box-sizing: border-box;
    border-radius: 4px;
    background-color: #fcfcfc;
    border: none;
    top: 0px;
    left: 0px;
    z-index: 960;

    height: 100%;
    max-width: 100%;
    max-height: 100%;

    @include desktop {
        border: ($popup-container-border / 2) solid #F4F4F4;
        height: $large-screen-height;
        max-height: $large-screen-height;
        max-width: $large-screen-width;
    }

    .last-focus-item {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 1px;
        height: 1px;
        outline: none;
    }
}

.popup-body {
    margin: 0;
    padding: 0 10px;
    overflow: hidden;
    box-sizing: border-box;
    position: relative;
    font-size: 15px;
    contain: layout;
    overflow-x: hidden;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    will-change: transform;
}

.popup-body {

    @include calc(max-width, "100% - #{$popup-container-border}");
    @include calc(max-height, "100% - #{$footer-header-size}");
    @include calc(height, "100% - #{$footer-header-size}");

    @include desktop {
        max-height: $large-screen-height - $footer-header-size;
        max-width: $large-screen-width - $popup-container-border;
        height: auto;
    }
}

.popup-container.no-footer {
    .popup-body {
        @include calc(max-height, "100% - #{$header-size}");
        @include calc(height, "100% - #{$header-size}");

        @include desktop {
            max-height: $large-screen-height - $header-size;
            height: auto;
        }
    }
}

.popup-blocker {
    background-color: #000000;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    top: 0px;
    left: 0px;
    position: absolute;
    z-index: 950;
    opacity: 0;
}

.popup-header {
    font-size: 0;
    position: relative;
    background-color: #fff;
    height: $header-height;
    width: 100%;
    background: rgb(255,255,255);
    background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(248,248,248,1) 100%);
    background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(248,248,248,1) 100%);
    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(248,248,248,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f8f8f8',GradientType=0 );
    text-align: center;
    margin-bottom: $header-margin;
}

.popup-footer {
    font-size: 0;
    position: relative;
    background-color: #fff;
    height: $footer-height;
    width: 100%;
    margin-top: $footer-margin;
    box-sizing: border-box;
    background: rgb(252, 252, 252);

    .popup-button {
        $padding: 10px;
        $margin: 22px;

        outline: none;
        box-sizing: border-box;
        font-size: $text-size;
        vertical-align: top;
        display: inline-block;
        height: $footer-height;
        text-transform: uppercase;
        line-height: $footer-height - $padding * 2;
        padding: $padding $margin;
        color: $secondary-color;
        text-align: center;

        &.popup-button-disabled {
            opacity: 0.3;
        }

        &:focus {
            border-bottom: 3px solid $secondary-color;
        }
    }
}

.popup-header::after {
    content: " ";
    width: 100%;
    height: 3px;
    position: absolute;
    left: 0px;
    bottom: -3px;
    background: #E4E4E4;
    background: -moz-linear-gradient(top, rgba(228,228,228,1) 0%, rgba(244,244,244,1) 100%);
    background: -webkit-linear-gradient(top, #E4E4E4 0%,#F4F4F4 100%);
    background: linear-gradient(to bottom, #E4E4E4 0%,#F4F4F4 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e4e4e4', endColorstr='#f4f4f4',GradientType=0 );
}

.popup-header h2 {
    display: inline-block;
    font-weight: normal;
    text-align: center;
    margin: 5px 0px;
    padding: 0;
    font-size: 20px;
    vertical-align: top;
    color: #444;
}

.popup-closer-container {
    height: 100%;
    width: 36px;
    position: absolute;
    right: 0px;
    top: 0px;
    border-left: 1px solid #EBEBEB;
}

.popup-closer-container:hover {
    background: linear-gradient(to bottom, #F9F9F9 0%, #FBEEEE 100%);
}

.popup-closer-container .icon {
    text-align: center;
    font-size: 15px;
    line-height: 15px;
    margin-top: 10px;
    color: #6f6f6f;
}

.popup-closer-container:hover .icon {
    color: #8B0000;
}
