@import "variables";

.bounder-node {
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-pointer-events: none;
    pointer-events: none;
    @include translate3d(0,0,0);
    will-change: transform;
    z-index: 1000;
    contain: content;
}

.ripple-node {
    -webkit-pointer-events: none;
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 50%;
    @include translate3d(0,0,0);
    will-change: transform;
    z-index: 1000;
    contain: content;
}
