@import "variables";

#app-container,
#app-loader,
.toolbar > .toolbar-items, .track-container {
    @include large-screen {
        width: $large-screen-width;
    }

    @include small-screen {
        width: 100%;
    }

    @include ultra-small-screen {
        width: 100%;
    }

    @include medium-small-screen {
        width: 100%;
    }
}

.snackbar-container {
    @include large-screen {
        max-width: $small-screen-width;
        min-width: $snackbar-container-min-width;
    }

    @include small-screen {
        max-width: $small-screen-width;
        min-width: $snackbar-container-min-width;
    }

    @include ultra-small-screen {
        max-width: 100%;
        min-width: 100%;
    }

    @include medium-small-screen {
        max-width: 100%;
        min-width: 100%;
    }
}

.snackbar-container .snackbar-title {
    @include large-screen {
        max-width: $small-screen-width - $snackbar-action-width - $snackbar-gutter;
    }

    @include small-screen {
        max-width: $small-screen-width - $snackbar-action-width - $snackbar-gutter;
    }

    @include ultra-small-screen {
        @include calc(width, "100% - #{$snackbar-action-width + $snackbar-gutter}");
    }

    @include medium-small-screen {
        @include calc(width, "100% - #{$snackbar-action-width + $snackbar-gutter}");
    }
}

.track .track-info {
    @include large-screen {
        width: $large-screen-width - 242px;
    }

    @include small-screen {
        @include calc(width, "100% - 242px");
    }

    @include medium-small-screen {
        @include calc(width, "100% - #{242px - 109px}");
    }

    @include ultra-small-screen {
        @include calc(width, "100% - #{242px - 109px}");
    }
}

.coverart-section-container {
    width: $picture-size + (2 * $border-width);
}

.picture-container {
    height: $picture-size;
    width: $picture-size;
}

.visualizer-section-container {
    margin-left: $visualizer-gap;
    @include large-screen {
        @include calc(width, "#{$large-screen-width} - #{$visualizer-gap + $picture-size + (2 * $border-width)}");
    }

    @include small-screen {
        @include calc(width, "100% - #{$visualizer-gap + $picture-size + (2 * $border-width)}");
    }

    @include medium-small-screen {
        @include calc(width, "100% - #{$visualizer-gap + $picture-size + (2 * $border-width) + (2 * $border-width)}");
    }

    @include ultra-small-screen {
        @include calc(width, "100% - #{$visualizer-gap + $picture-size + (2 * $border-width) + (2 * $border-width)}");
    }
}

.visualizer {
    width: 100%;
}

.visualizer-coverart-section-container {
    @include ultra-short-screen {
        display: none;
    }
}
