@import "variables";

#app-container,
#app-loader,
.toolbar > .toolbar-items,
.track-container {
    @include large-screen {
        width: $large-screen-width - $total-app-border;
    }

    @include small-screen {
        @include calc(width, "100% - #{$total-app-border}");
    }

    @include ultra-small-screen {
        @include calc(width, "100% - #{$total-app-border}");
    }

    @include medium-small-screen {
        @include calc(width, "100% - #{$total-app-border}");
    }
}

.snackbar-container {
    @include large-screen {
        max-width: $small-screen-width;
        min-width: $snackbar-container-min-width;
    }

    @include small-screen {
        max-width: $small-screen-width;
        min-width: $snackbar-container-min-width;
    }

    @include ultra-small-screen {
        max-width: 100%;
        min-width: 100%;
    }

    @include medium-small-screen {
        max-width: 100%;
        min-width: 100%;
    }
}

.snackbar-container .snackbar-title {
    @include large-screen {
        max-width: $small-screen-width - $snackbar-action-width - $snackbar-gutter;
    }

    @include small-screen {
        max-width: $small-screen-width - $snackbar-action-width - $snackbar-gutter;
    }

    @include ultra-small-screen {
        @include calc(width, "100% - #{$snackbar-action-width + $snackbar-gutter}");
    }

    @include medium-small-screen {
        @include calc(width, "100% - #{$snackbar-action-width + $snackbar-gutter}");
    }
}

.track .track-info {
    @include large-screen {
        width: $large-screen-width - $track-width-left-for-text - $total-app-border;
    }

    @include small-screen {
        @include calc(width, "100% - #{$track-width-left-for-text + $total-app-border}");
    }

    @include medium-small-screen {
        @include calc(width, "100% - #{$track-width-left-for-text - $track-rating-width + $total-app-border}");
    }

    @include ultra-small-screen {
        @include calc(width, "100% - #{$track-width-left-for-text - $track-rating-width + $total-app-border}");
    }
}

.coverart-section-container {
    width: $picture-size + (2 * $border-width);
}

.picture-container {
    height: $picture-size;
    width: $picture-size;
}

.visualizer-section-container {
    margin-left: $visualizer-gap;
    @include large-screen {
        @include calc(width, "#{$large-screen-width} - #{$visualizer-gap + $picture-size + (2 * $border-width) + $total-app-border}");
    }

    @include small-screen {
        @include calc(width, "100% - #{$visualizer-gap + $picture-size + (2 * $border-width) + $total-app-border}");
    }

    @include medium-small-screen {
        @include calc(width, "100% - #{$visualizer-gap + $picture-size + (2 * $border-width) + (2 * $border-width) + $total-app-border}");
    }

    @include ultra-small-screen {
        @include calc(width, "100% - #{$visualizer-gap + $picture-size + (2 * $border-width) + (2 * $border-width) + $total-app-border}");
    }
}

.visualizer {
    width: 100%;
}

.visualizer-coverart-section-container {
    @include ultra-short-screen {
        display: none;
    }
}
