@import "variables";
@import "shadows";

.search-list-container {
    .search-panel-container {
        height: $track-item-height;
        box-sizing: border-box;
        font-size: 14px;
    }

    .tracklist-transform-container {
        top: $track-item-height;
        @include calc(height, "100% - #{$track-item-height}");
    }
}
