@import "variables";
@import "shadows";

.slider {
    div {
        box-sizing: border-box;
    }

    display: inline-block;
    vertical-align: top;
    position: relative;
    box-sizing: border-box;

    .slider-knob, slider-fill, .slider-background {
        position: absolute;
    }

    .slider-background {
        background-color: #ccc;
        z-index: 1;
        overflow: hidden;
    }

    .slider-knob {
        z-index: 2;
        width: $slider-knob-size;
        height: $slider-knob-size;
        background: #B3DAFF;
        border-radius: 50%;
        outline: none;
        @include css-filter(grayscale(100%));
        @include transition-filter(0.47s cubic-bezier(0.4, 0, 0.2, 1));

        $slider-knob-focus-size: 32px;

        &.focused:after {
            content: " ";
            position: absolute;
            outline: none;
            top: -(($slider-knob-focus-size / 2) - ($slider-knob-size / 2));
            left: -(($slider-knob-focus-size / 2) - ($slider-knob-size / 2));
            width: $slider-knob-focus-size;
            height: $slider-knob-focus-size;
            border-radius: 50%;
            background-color: rgba(0, 0, 0, 0.06);
        }
    }

    &.sliding {
        .slider-knob {
            @include css-filter(grayscale(0%));
        }
    }

    &.horizontal-slider {
        height: $slider-input-area-size;
        width: 100%;

        .slider-knob {
            top: ($slider-input-area-size / 2) - ($slider-knob-size / 2);
            left: 0;
        }

        .slider-background {
            .slider-fill {
                width: 100%;
                height: $slider-background-size;
                top: 0;
                left: 0;
                background: #85c4ff; /* Old browsers */
                background: -moz-linear-gradient(top,  #85c4ff 0%, #e0f0ff 100%); /* FF3.6-15 */
                background: -webkit-linear-gradient(top,  #85c4ff 0%,#e0f0ff 100%); /* Chrome10-25,Safari5.1-6 */
                background: linear-gradient(to bottom,  #85c4ff 0%,#e0f0ff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#85c4ff', endColorstr='#e0f0ff',GradientType=0 ); /* IE6-9 */

            }
            width: 100%;
            height: $slider-background-size;
            top: ($slider-input-area-size / 2) - ($slider-background-size / 2);
            left: 0;
        }
    }

    &.vertical-slider {
        width: $slider-input-area-size;
        height: 100%;

        .slider-knob {
            top: 0;
            left: ($slider-input-area-size / 2) - ($slider-knob-size / 2);
        }

        .slider-background {
            .slider-fill {
                height: 100%;
                width: $slider-background-size;
                bottom: 0;
                left: 0;
                background: #85c4ff; /* Old browsers */
                background: -moz-linear-gradient(left,  #85c4ff 0%, #e0f0ff 100%); /* FF3.6-15 */
                background: -webkit-linear-gradient(left,  #85c4ff 0%,#e0f0ff 100%); /* Chrome10-25,Safari5.1-6 */
                background: linear-gradient(to right,  #85c4ff 0%,#e0f0ff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#85c4ff', endColorstr='#e0f0ff',GradientType=1 ); /* IE6-9 */
            }

            height: 100%;
            width: $slider-background-size;
            left: ($slider-input-area-size / 2) - ($slider-background-size / 2);
            top: 0;
        }
    }

    &.slider-inactive {
        opacity: 0.4;
    }
}
