@import "variables";

.snackbar-container {
    z-index: 100000;
    position: absolute;
    bottom: 0;
    left: 0;
    @include translate(0, 0);
    margin: 0;
    border-radius: 3px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    background-color: #323232;
    padding: 0;
    font-size: 0;
}

.snackbar-container .snackbar-title {
    display: inline-block;
    vertical-align: top;
    font-size: 15px;
    color: #fcfcfc;
    padding: 14px 0px 14px 24px;    
}

.snackbar-container .snackbar-action {
    min-width: 58px;
    padding: 14px 24px 14px 48px;
    overflow: hidden;
    white-space: nowrap;
    max-width: $snackbar-action-width;
    display: inline-block;
    height: 100%;
    vertical-align: top;
    font-size: 15px;
    text-transform: uppercase;
    color: #EED202;
    cursor: pointer;
    box-sizing: border-box;
}

.snackbar-container .snackbar-action .text-container {
    display: table;
    height: 100%;
}

.snackbar-container .snackbar-action .text-container .text {
    display: table-cell;
    vertical-align: middle;
}

.snackbar-container.transition-in,
.snackbar-container.transition-out {
    @include transition-transform-filter(0.4s cubic-bezier(.55, 0, .1, 1));
}

.snackbar-container.transition-in {
    @include translate(0, 0);
    @include css-filter(opacity(100%));
}

.snackbar-container.transition-in.initial {
    @include translate(0, 100%);
    @include css-filter(opacity(0%));
}

.snackbar-container.transition-out {
    @include translate(0, 100%);
    @include css-filter(opacity(0%));
}

.snackbar-container.transition-out.initial {
    @include translate(0, 0);
    @include css-filter(opacity(100%));
}
