.snackbar-container {
    z-index: 100000;
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translate(-50%, 0);
    margin: 0px auto;
    min-width: 288px;
    max-width: 568px;
    border-radius: 3px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    background-color: #323232;
    padding: 0;
    font-size: 0;
}

.snackbar-container .snackbar-title {
    display: inline-block;
    vertical-align: top;
    font-size: 15px;
    color: #fcfcfc;
    padding: 14px 0px 14px 24px;
}

.snackbar-container .snackbar-action {
    min-width: 58px;
    padding: 14px 24px 14px 48px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    max-width: 140px;
    display: inline-block;
    height: 100%;
    vertical-align: top;
    font-size: 15px;
    text-transform: uppercase;
    color: #EED202;
    cursor: pointer;
}

.snackbar-container.transition-in,
.snackbar-container.transition-out {
    transition: transform 0.4s cubic-bezier(.55, 0, .1, 1);
}

.snackbar-container.transition-in {
    transform: translate(-50%, 0);
}

.snackbar-container.transition-in.initial {
    transform: translate(-50%, 100%);
}

.snackbar-container.transition-out {
    transform: translate(-50%, 100%);
}

.snackbar-container.transition-out.initial {
    transform: translate(-50%, 0);
}
