@import "variables";

.snackbar-container {
    position: absolute;
    width: 100%;
    height: $snackbar-vertical-space;
    left: 0px;
    bottom: 0px;
    display: none;
    grid-template-rows: 1fr;
    grid-template-columns: 100%;
    grid-template-areas: "snackbar";
    z-index: $snackbar-z-index;
    font-size: $text-size-bigger;
    contain: strict;

    @include large-screen {
        grid-template-columns: 1fr $small-screen-width 1fr;
        grid-template-areas: ". snackbar .";
    }

    .snackbar {
        grid-area: snackbar;
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: 1fr 140px;
        grid-template-areas: "title action";
        border-radius: 3px;
        border-bottom-right-radius: 0px;
        border-bottom-left-radius: 0px;
        background-color: #323232;


        &.no-action {
            grid-template-areas: "title title";
        }

        .snackbar-title {
            grid-area: title;

            contain: strict;
            overflow: hidden;
            line-height: floor($snackbar-vertical-space / 2) - 4px;
            color: #fcfcfc;
            padding: 4px 6px;
            word-wrap: break-word;

            &.single-line {
                @include no-text-wrap();
                line-height: $snackbar-vertical-space;
                padding: 0px 6px;
            }
        }

        .snackbar-action {
            grid-area: action;

            @include no-text-wrap();
            line-height: $snackbar-vertical-space;
            text-transform: uppercase;
            color: #EED202;
            cursor: pointer;
            text-align: center;
            contain: strict;
        }
    }
}
