@import "variables";

$spinner-size: 142px;
$spinner-color: rgba(189, 223, 255, 0.7);
$spinner-weight: 3px;
$spinner-duration: 0.600s;
$spinner-delay: $spinner-duration * 0.2;
$spinner-transition-out-time: 0.3s;

.spinner-wrapper {
  position: absolute;
  width: $spinner-size;
  height: $spinner-size;
  z-index: 900;
  display: none;
}

.spinner-wrapper.transition-out {
  opacity: 0;
  @include transition(opacity $spinner-transition-out-time cubic-bezier(0.4, 0, 0.2, 1));
}

.spinner-wrapper.transition-out.initial {
  opacity: 1;
}

.spinner-wrapper.visible {
  display: block;
}

.arc-container {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  -webkit-backface-visibility: hidden;
}

.spinner-wrapper.clockwise .arc-container {
  clip: rect(0px, $spinner-size, $spinner-size, $spinner-size / 2);
}

.spinner-wrapper.counterclockwise .arc-container {
  clip: rect(0px, $spinner-size / 2, $spinner-size, 0px);
}

.arc-container .arc {
  -webkit-backface-visibility: hidden;
  box-sizing: border-box;
  border: $spinner-weight solid $spinner-color;  
  width: 100%;
  height: 100%;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  filter: blur(2px);
  -webkit-filter: blur(2px);
}

.spinner-wrapper.clockwise .arc-container .arc {
  clip: rect(0px, $spinner-size / 2, $spinner-size, 0px);
}

.spinner-wrapper.counterclockwise .arc-container .arc {
  clip: rect(0px, $spinner-size, $spinner-size, $spinner-size / 2);
}

.arc-container, .arc {
  will-change: transform;
  @include transition-transform(#{$spinner-duration - $spinner-delay} linear);
  @include rotate(0deg);
}

