@import "variables";

html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html, body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    box-sizing: border-box;
}

.tracklist-transform-container {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    contain: layout;
    overflow-x: hidden;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    will-change: transform;
    box-sizing: border-box;
}

body {
    font-family: "Droid Sans";
    font-size: 12px;
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: #F5F5F5;
    background-image: url('../images/body-noise.png');
}

#wrapper {
    width: 100%;
    margin: 0;
    display: block;
}

#app-container {
    font-size: 0;
    display: none;
}

#app-container {
    opacity: initial;
    will-change: none;
    @include transition-property(opacity);
    @include transition-timing-function(cubic-bezier(.55, 0, .1, 1));
    @include transition-duration(0.22s);
}

.player-upper-container,
.visualizer-section-container,
.content-section-container {
    contain: layout;
}

#app-container.initial {
    opacity: 0;
    will-change: opacity;
}

.link-text {
    cursor: pointer;
    color: $secondary-color;
}

.link-text:focus {
    outline: none;
    text-decoration: underline;
}

a.link-text {
    outline: none;
}

sup {
    font-size: 10px;
}

ul, ul li, ol, ol li {
    margin: 0;
    padding: 0;
}

input[type="radio"] {
    background-color: white;
    display: inline-block;
    padding: 0;
    border: 0;
    margin: 0px 3px;
    position: relative;
    top: 1px;
}
input,
textarea {
    outline: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0px 0px;
    border-color: transparent;
    width: 100%;
}

.division {
    font-size: 0;
    vertical-align: top;
    box-sizing: border-box;
    display: inline-block;
}

.section-separator {
    width: 100%;
    height: 1px;
    border-top: 1px solid #ddd;
    margin: 10px 0px;

    &.no-border {
        border: none;
    }
}

.material-icons.small-material-icon {
    font-size: 18px;
    width: 14px;
    vertical-align: top;
    line-height: 14px;
    text-indent: -2px;
}

.large-material-icon.material-icons {
    font-size: 24px;
    line-height: $large-material-icon-height;
    width: $large-material-icon-width;
    text-indent: -3px;
    vertical-align: top;
}

select, input {
    &.focus {
        outline: 2px solid rgb(77, 144, 254);
        outline-offset: 0;
    }
}
