@import "variables";

html {
    font-smoothing: antialiased;
    osx-font-smoothing: grayscale;
}

html, body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    box-sizing: border-box;
}

body {
    font-family: "Droid Sans";
    font-size: 12px;
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: #F5F5F5;
    background-image: url('../images/body-noise.png');
    box-sizing: border-box;
}

.app-container {
    font-size: 0;
    display: none;
    opacity: initial;
    will-change: initial;
    @include transition-property(opacity);
    @include transition-timing-function(cubic-bezier(.55, 0, .1, 1));
    @include transition-duration(0.22s);

    &.initial {
        opacity: 0;
        will-change: opacity;
    }

    margin: 0px auto;
    height: calc(100% - 12px);
    grid-template-columns: 100%;
}

.no-touch {
    .app-container {

        grid-template-rows: $toolbar-height 3px 6px $visualizer-height 12px 1fr 16px $player-controls-vertical-space;
        grid-template-areas:
                "toolbar"
                "toolbar-border"
                "."
                "visualizer"
                "."
                "track-controls-section"
                "."
                "player-controls-section";
    }
}

.has-touch {
    .app-container {
        grid-template-rows: $toolbar-height 3px 12px 1fr 16px $player-controls-vertical-space;
        grid-template-areas:
                "toolbar"
                "toolbar-border"
                "."
                "track-controls-section"
                "."
                "player-controls-section";
    }
}

.app-container {
    width: 100%;
    @include large-screen {
        width: $large-screen-width;
    }
}

.link-text {
    cursor: pointer;
    color: $secondary-color;
}

.link-text:focus {
    outline: none;
    text-decoration: underline;
}

a.link-text {
    outline: none;
}

p {
    margin: 0;
}

sup {
    font-size: 10px;
}

ul, ul li, ol, ol li {
    margin: 0;
    padding: 0;
}

datalist {
    display: none;
}

input[type="radio"] {
    background-color: white;
    display: inline-block;
    padding: 0;
    border: 0;
    margin: 0px 3px;
    position: relative;
    top: 1px;
}
input,
textarea {
    outline: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0px 0px;
    border-color: transparent;
    width: 100%;
}

.section-separator {
    width: 100%;
    height: 1px;
    border-top: 1px solid #ddd;
    margin: 10px 0px;

    &.no-border {
        border: none;
    }
}

.material-icons.small-material-icon {
    font-size: 18px;
    width: 14px;
    vertical-align: top;
    line-height: 14px;
    text-indent: -2px;
}

.large-material-icon.material-icons {
    font-size: 24px;
    line-height: $large-material-icon-height;
    width: $large-material-icon-width;
    text-indent: -3px;
    vertical-align: top;
}

select, input {
    &.focus {
        outline: 2px solid rgb(77, 144, 254);
        outline-offset: 0;
    }
}
