@import "variables";
@import "shadows";

#app-container, .toolbar > .toolbar-items {
    box-sizing: border-box;
    margin: 0px auto;
}

$toolbar-height: 45px;
$toolbar-bottom-margin: 10px;

body {
    padding-top: #{$toolbar-height + $toolbar-bottom-margin};
}

.toolbar {
    background-color: #fff;
    height: $toolbar-height;
    width: 100%;
    position: absolute;
    z-index: 940;
    top: 0px;
    left: 0px;
    background: rgb(255,255,255);
    background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(248,248,248,1) 100%);
    background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(248,248,248,1) 100%);
    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(248,248,248,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f8f8f8',GradientType=0 );
}

.toolbar > .toolbar-border {
    width: 100%;
    height: 3px;
    position: absolute;
    left: 0px;
    bottom: -3px;
    background: rgb(228,228,228);
    background: -moz-linear-gradient(top, rgba(228,228,228,1) 0%, rgba(244,244,244,1) 100%);
    background: -webkit-linear-gradient(top, rgba(228,228,228,1) 0%,rgba(244,244,244,1) 100%);
    background: linear-gradient(to bottom, rgba(228,228,228,1) 0%,rgba(244,244,244,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e4e4e4', endColorstr='#f4f4f4',GradientType=0 );
}

.toolbar > .toolbar-items {
    height: 100%;
    font-size: 0;
    position: relative;
    z-index: 940;
    .toolbar-submenu {
        box-sizing: border-box;
        padding: 10px 0;
        position: absolute;
        top: 98%;
        left: 8px;
        z-index: 941;
        background: #fff;
        @include shadow-3dp();
        color: #343434;
        display: none;
        @include scale-gpu(1, 0);
        @include transition-transform(0.25s cubic-bezier(.55, 0, .1, 1));
        @include transform-origin(top left 0);

        &.shown {
            display: block;
            will-change: transform;
            &.transition-in {
                @include scale-gpu(1, 1);
            }
        }

        .toolbar-submenu-item {
            min-width: 192px;
            height: 48px;
            box-sizing: border-box;
            outline: none;

            &:hover,
            &:focus {
                background-color: #e6e6e6;
            }

            .toolbar-submenu-icon {
                box-sizing: border-box;
                vertical-align: top;
                display: inline-block;
                height: 100%;
                width: 48px;
                text-align: center;

                .icon.material-icons {
                    font-size: 32px;
                    line-height: 48px;
                }

                .icon.icomoon-icon {
                    font-size: 36px;
                    line-height: 48px;
                    margin-left: 8px;
                }
            }

            .toolbar-submenu-text {
                font-size: 16px;
                box-sizing: border-box;
                vertical-align: top;
                display: inline-block;
                @include calc(width, "100% - 48px");
                line-height: 48px;
                padding: 0 16px;
            }
        }
    }
}

.toolbar-items .toolbar-text,
.toolbar-items .toolbar-item {
    display: inline-block;
    height: 100%;
    box-sizing: border-box;
    outline: none;
}

.toolbar-items .toolbar-item {

    width: 50px;
    border-right: 1px solid #EBEBEB;
    font-size: 18px;
    line-height: 18px;
    text-align: center;
    color: #474747;

    vertical-align: top;
}

.toolbar-items .toolbar-text {
    margin-left: 10px;
    font-size: 14px;
    line-height: 14px;
    padding: 15px 0px;
    text-align: left;
    color: $text-color;
    box-sizing: border-box;
    vertical-align: middle;
}

.toolbar-items .toolbar-item:hover,
.toolbar-items .toolbar-item:focus,
.toolbar-items .toolbar-item.toolbar-item-active {
    color: #85C4FF;
}

.toolbar-items .toolbar-item:focus {
    border-bottom: 3px solid #85C4FF;
}

.toolbar-items .toolbar-item.touch-hover {
    background-color: $touch-hover-color !important;
}

.toolbar-items .toolbar-item.active {
    color: #85C4FF;
}

.toolbar-items .toolbar-item.disabled {
    opacity: 0.4;
    background-color: transparent;
    cursor: default;
    color: #474747;
}

.toolbar-items .toolbar-item.just-deactivated:hover,
.toolbar-items .toolbar-item.just-deactivated:focus,
.toolbar-items .toolbar-item.just-deactivated {
    color: #474747;
    background-color: transparent;
}

.toolbar-item > .icon {
    margin-top: 13px;
}

.toolbar-item > .icomoon-icon.icomoon-audio-folder {
    margin-top: 7px;
}

.toolbar-item > .icomoon-icon.icomoon-audio-files {
    margin-top: 10px;
}

.toolbar-item > .icomoon-icon.icomoon-crossfade {
    margin-top: 11px;
}

.toolbar-item > .icon.material-icons {
    margin-top: 12px;
}

.toolbar-items-section-1,
.toolbar-items-section-2,
.toolbar-items-section-3 {
    height: 100%;
    float: left;
}

.toolbar-items-section-2 {
    float: right;
}

.toolbar-items-section-1 .toolbar-item:first-child,
.toolbar-items-section-2 .toolbar-item:first-child,
.toolbar-items-section-3 .toolbar-item:first-child {
    border-left: 1px solid #EBEBEB;
}
