@import "variables";
@import "shadows";

$menu-button-width: 36px;
$select-control-width: 36px;
$track-number-gutter: 6px;
$drag-control-width: 44px;
$track-number-width: 42px;
$track-duration-width: 46px;

$material-icon-menu-width: 16px;
$material-icon-menu-height: 26px;

$material-icon-checkbox-width: 24px;
$material-icon-checkbox-height: 26px;

$material-icon-reorder-width: 24px;
$material-icon-reorder-height: 26px;

.no-touch {
    .track-container {
        grid-template-columns: 26px $track-number-width 1fr $track-duration-width 26px;
        grid-template-areas:
                ". track-number track-title track-duration ."
                ". track-number track-artist track-duration .";

        .track-menu-button,
        .track-select-control,
        .track-drag-control {
            display: none;
        }
    }
}

.has-touch {
    .draggable {
        .track-container {
            grid-template-columns: $menu-button-width $select-control-width $track-number-gutter $track-number-width 1fr $track-duration-width $drag-control-width;
            grid-template-areas:
                    "menu-button select-control . track-number track-title track-duration drag-control"
                    "menu-button select-control . track-number track-artist track-duration drag-control";

            .track-drag-control {
                display: block;
            }
        }
    }

    .track-container {
        grid-template-columns: $menu-button-width $select-control-width $track-number-gutter $track-number-width 1fr $track-duration-width 4px;
        grid-template-areas:
                "menu-button select-control . track-number track-title track-duration ."
                "menu-button select-control . track-number track-artist track-duration .";

        .track-drag-control {
            display: none;
        }
    }
}

.track-container {
    display: grid;
    height: $track-item-height;
    grid-template-rows: 1fr 1fr;
    position: absolute;
    box-sizing: border-box;
    width: 100%;
    overflow: hidden;
    contain: strict;
    border-bottom: 1px solid #EEE;
    border-top: 1px solid #F6F6F6;
    background-color: #FFF;
    font-size: $text-size;
    color: $text-color;

    z-index: 1;
    &.track-dragging {
        @include shadow-2dp();
        z-index: 2;
    }

    .grid-item {
        contain: strict;
        display: block;
        @include no-text-wrap();
    }

    &.transition {
        @include transition-property(transform);
        @include transition-timing-function(cubic-bezier(.55, 0, .1, 1));
        @include transition-duration(0.22s);
    }

    .track-number {
        grid-area: track-number;
        text-align: left;
        will-change: contents;
        line-height: $track-item-height;
    }


    .track-duration {
        padding-left: 4px;
        grid-area: track-duration;
        text-align: center;
        will-change: contents;
        line-height: $track-item-height;
    }

    .track-title {
        grid-area: track-title;
        font-size: 15px;
        padding-top: 2px;
        will-change: contents;
    }

    .track-artist {
        grid-area: track-artist;
        font-size: 13px;
        color: $text-color-lighter;
        padding-top: 2px;
        will-change: contents;
    }


    .track-menu-button {
        grid-area: menu-button;
        padding: floor(($track-item-height - $material-icon-menu-height) / 2)
                 floor(($menu-button-width - $material-icon-menu-width) / 2);
    }

    .track-select-control {
        grid-area: select-control;
        padding: floor(($track-item-height - $material-icon-checkbox-height) / 2)
                 floor(($select-control-width - $material-icon-checkbox-width) / 2);
        will-change: contents;
    }

    .track-drag-control {
        grid-area: drag-control;
        padding: floor(($track-item-height - $material-icon-reorder-height) / 2)
                 floor(($drag-control-width - $material-icon-reorder-width) / 2);
    }

    .material-icons {
        color: $text-color-lighter;
        &.checked-checkbox {
            color: $primary-color-darker;
        }
    }

    &.track-active {
        background: linear-gradient(to bottom, #f2f9fe 0%,#d6f0fd 100%);
        border-bottom: 1px solid #B0D1F8;
    }

    &.track-playing {
        color: $secondary-color;
        border-bottom: 1px solid $secondary-color;
    }

    &.track-error {
        color: $error-color;
        border-bottom: 1px solid $error-color;
    }
}
