@import "variables";
@import "shadows";

$menu-button-width: 36px;
$select-control-width: 36px;
$track-number-gutter: 6px;
$drag-control-width: 44px;
$track-number-width: 42px;
$track-duration-width: 42px;

.no-touch {
    .track-container {
        grid-template-columns: 26px $track-number-width 1fr $track-duration-width 26px;
        grid-template-areas:
                ". track-number track-title track-duration ."
                ". track-number track-artist track-duration .";

        .track-menu-button,
        .track-select-control,
        .track-drag-control {
            display: none;
        }
    }
}

.has-touch {
    .draggable {
        .track-container {
            grid-template-columns: $menu-button-width $select-control-width $track-number-gutter $track-number-width 1fr $track-duration-width $drag-control-width;
            grid-template-areas:
                    "menu-button select-control . track-number track-title track-duration drag-control"
                    "menu-button select-control . track-number track-artist track-duration drag-control";

            .track-drag-control {
                display: block;
            }
        }
    }

    .track-container {
        grid-template-columns: $menu-button-width $select-control-width $track-number-gutter $track-number-width 1fr $track-duration-width 4px;
        grid-template-areas:
                "menu-button select-control . track-number track-title track-duration ."
                "menu-button select-control . track-number track-artist track-duration .";

        .track-drag-control {
            display: none;
        }
    }
}

.track-container {
    display: grid;
    height: $track-item-height;
    grid-template-rows: 1fr 1fr;
    position: absolute;
    box-sizing: border-box;
    width: 100%;
    overflow: hidden;
    contain: strict;
    border-bottom: 1px solid #EEE;
    border-top: 1px solid #F6F6F6;
    background-color: #FFF;
    font-size: $text-size;
    color: $text-color;
    justify-items: center;
    align-items: center;


    z-index: 1;
    &.track-dragging {
        @include shadow-2dp();
        z-index: 2;
    }

    &.transition {
        @include transition-property(-webkit-transform, transform);
        @include transition-timing-function(cubic-bezier(.55, 0, .1, 1));
        @include transition-duration(0.22s);
    }

    .track-number {
        grid-area: track-number;
        contain: layout;
        justify-self: start;
    }

    .track-title {
        grid-area: track-title;
        contain: layout;
        font-size: 15px;
        justify-self: stretch;
    }

    .track-artist {
        grid-area: track-artist;
        contain: layout;
        font-size: 13px;
        color: $text-color-lighter;
        justify-self: stretch;
    }

    .track-duration {
        grid-area: track-duration;
        contain: layout;
    }

    .track-menu-button {
        grid-area: menu-button;
        contain: layout;
        justify-self: stretch;
        align-self: stretch;
        padding: floor(($track-item-height - $large-material-icon-height) / 2)
                 floor(($menu-button-width - $large-material-icon-width) / 2);
    }

    .track-select-control {
        grid-area: select-control;
        contain: layout;
        justify-self: stretch;
        align-self: stretch;
        padding: floor(($track-item-height - $large-material-icon-height) / 2)
                 floor(($select-control-width - $large-material-icon-width) / 2);
    }

    .track-drag-control {
        grid-area: drag-control;
        contain: layout;
        justify-self: stretch;
        align-self: stretch;
        padding: floor(($track-item-height - $large-material-icon-height) / 2)
                 floor(($drag-control-width - $large-material-icon-width) / 2);
    }

    .material-icons {
        color: $text-color-lighter;

        &.checked-checkbox {
            color: $primary-color-darker;
        }
    }

    &.track-active {
        background: linear-gradient(to bottom, #f2f9fe 0%,#d6f0fd 100%);
        border-bottom: 1px solid #B0D1F8;
    }

    &.track-playing {
        color: $secondary-color;
        border-bottom: 1px solid $secondary-color;
    }

    &.track-error {
        color: $error-color;
        border-bottom: 1px solid $error-color;
    }
}


.tracklist-transform-container {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    contain: layout;
    overflow-x: hidden;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    will-change: transform;
    box-sizing: border-box;

    &.tracks-dragging {
        touch-action: none;
        overflow-y: hidden;

        .track-container {
            @include transition-property(-webkit-transform, transform);
            @include transition-timing-function(cubic-bezier(.55, 0, .1, 1));
            @include transition-duration(0.22s);

            &.track-dragging {
                @include transition-property(none);
                @include transition-timing-function(initial);
                @include transition-duration(initial);
            }
        }
    }
}
