@import "variables";
@import "shadows";

$tab-height: 32px;

.no-touch {
    .tab-button:hover {
        color: $secondary-color;
    }
}

.track-controls-section {
    font-size: $text-size;
    @include shadow-2dp();
    contain: content;
    grid-area: track-controls-section;
    border-radius: $subtle-radius;
    overflow: hidden;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: $tab-height 2px 1fr;
    grid-template-areas:
        "playlist-tab-button search-tab-button queue-tab-button"
        "active-tab-indicator-container active-tab-indicator-container active-tab-indicator-container"
        "pane-content pane-content pane-content";

    .tab-button {
        contain: content;
        text-align: center;
        font-size: 15px;
        color: $text-color;
        background: linear-gradient(to bottom, #ffffff 0%, #fafafa 100%);

        &.active {
            color: $secondary-color;
        }

        .tab-button-text {
            vertical-align: top;
            line-height: $tab-height;
        }

        .icon {
            line-height: $tab-height;
        }
    }

    .playlist-tab-button {
        grid-area: playlist-tab-button;
    }

    .search-tab-button {
        grid-area: search-tab-button;
    }

    .queue-tab-button {
        grid-area: queue-tab-button;
    }

    .active-tab-indicator-container {
        background: linear-gradient(to bottom, rgba(228,228,228,1) 0%,rgba(244,244,244,1) 100%);
        grid-area: active-tab-indicator-container;
        position: relative;
        contain: content;

        .active-tab-indicator {
            background-color: $secondary-color;
            width: calc(100% / 3);
            transform: translate3d(0, 0, 0);
            height: 100%;
            position: absolute;
            z-index: 3;
        }
    }

    .pane-content {
        background: linear-gradient(to bottom, #ffffff 0%, #fafafa 100%);
        grid-area: pane-content;
        position: relative;
        contain: strict;

        .pane-container {
            position: absolute;
            width: 100%;
            height: 100%;

            .empty-list-explanation {
                margin-top: 15px;
                text-align: center;
            }

            .tracklist {
                width: 100%;
                height: 100%;
                contain: content;
                overflow-x: hidden;
                overflow-y: scroll;
                will-change: transform;

                &.tracks-dragging {
                    touch-action: none;
                    overflow-y: hidden;

                    .track-container {
                        @include transition-property(transform);
                        @include transition-timing-function(cubic-bezier(.55, 0, .1, 1));
                        @include transition-duration(0.22s);
                        will-change: transform;

                        &.track-dragging {
                            @include transition-property(none);
                            @include transition-timing-function(initial);
                            @include transition-duration(initial);
                        }
                    }
                }
            }
        }

        .search-pane-container {
            display: grid;
            grid-template-rows: $track-item-height 1fr;
            grid-template-columns: 1fr;
            grid-template-areas:
                "search-input-container"
                "search-results-container";

            .search-input-container {
                grid-area: search-input-container;

                .search-input-box {
                    width: 100%;
                    height: 100%;
                    line-height: $text-size-biggest;
                    font-size: $text-size-biggest;
                    padding: 10px;
                }

                .search-next-tab-focus {
                    width: 1px;
                    height: 1px;
                    display: inline-block;

                    &:focus, &:active {
                        margin: 0;
                        padding: 0;
                        border: none;
                        outline: none;
                    }
                }
            }

            .search-results-container {
                grid-area: search-results-container;
            }
        }
    }
}
