@import "variables";

.slide-out {
    @include transition(height 0.3s ease-in);
    @include transform-origin(top);
}

.slide-out.initial {
    @include scaleY(0);
}

.scale-in {
    @include scale(1, 1);
    @include transition(transform .4s cubic-bezier(.55, 0, .1, 1),
                       -webkit-transform .4s cubic-bezier(.55, 0, .1, 1),
                       -ms-transform .4s cubic-bezier(.55, 0, .1, 1));
}

.scale-in.initial {
    @include scale(0, 0);
}

.fade-scale-in {
    @include transition(transform .4s cubic-bezier(.55, 0, .1, 1),
                        -webkit-transform .4s cubic-bezier(.55, 0, .1, 1),
                        -ms-transform .4s cubic-bezier(.55, 0, .1, 1),
                        opacity .4s cubic-bezier(.55, 0, .1, 1));
    @include scale(1, 1);
    opacity: 1;
}

.fade-scale-in.initial {
    @include scale(0, 0);
    opacity: 0;
}

.fade-in {
    @include transition(opacity 0.3s cubic-bezier(.55, 0, .1, 1));
    opacity: 1;
}

.slide-out.fade-in {
    @include transition(opacity 0.3s cubic-bezier(.55, 0, .1, 1),
                        transform 0.3s cubic-bezier(.55, 0, .1, 1),
                        -webkit-transform 0.3s cubic-bezier(.55, 0, .1, 1),
                        -ms-transform 0.3s cubic-bezier(.55, 0, .1, 1));
}

.fade-in.initial {
    opacity: 0;
}
