@import "variables";

.unselectable, .ui-text, input[type=file] {
    cursor: default;
    user-select: none;
}

.selectable-text {
    cursor: text;
    user-select: all;
}

.clearfix:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}

.clearfix {
    display: block;
}

.rotate-90 {
    @include rotate(90deg);
}

.notextflow {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.no-text-wrap {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.no-display {
    display: none !important;
}

.clear-transition {
    @include transition(none !important);
}
