.unselectable, .ui-text, input[type=file] {
    cursor: default;
    -moz-user-select: none;
    -khtml-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.selectable-text {
    cursor: text;
    -moz-user-select: all;
    -khtml-user-select: all;
    user-select: all;
    -webkit-touch-callout: default;
    -webkit-user-select: all;
    -ms-user-select: all;
    user-select: all;
}

.clearfix:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}

.clearfix {
    display: block;
}

.rotate-90 {
    transform: rotate(90deg);
}

.notextflow {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.no-display {
    display: none !important;
}
