$primary-color: #B3DAFF;
$primary-color-darker: #6BC5E1;
$secondary-color: #BE7306;
$tertiary-color: #1C6E1C;
$error-color: #a94442;

$text-color: #333;
$text-color-lighter: #777;
$text-size: 14px;
$text-size-bigger: 16px;
$text-size-biggest: 18px;

$unfocused-form-color: #aaa;

$total-app-border: 4px;
$subtle-radius: 4px;

$large-screen-width: 768px;
$small-screen-width: 568px;
$medium-small-screen-width: 400px;
$ultra-small-screen-width: 320px;

$large-screen-height: 768px;
$small-screen-height: 500px;
$medium-small-screen-height: 400px;
$ultra-small-screen-height: 320px;

$track-info-gutter: 6px;

$action-menu-active-color: #BE7306;
$action-menu-disabled-color: #5B616A;

$track-rating-width: 210px;
$track-rating-max-width: $track-rating-width / 5;
$track-rating-horizontal-gutter: 4px;
$track-rating-star-size: $track-rating-max-width - ($track-rating-horizontal-gutter * 2);
$track-rating-vertical-gutter: 6px;

$track-item-height: 44px;
$non-desktop-picture-size: 96px;
$desktop-picture-size: 96px;
$visualizer-height: 104px;
$track-progress-height: 30px;
$player-panel-lower-container-height: $non-desktop-picture-size - $track-progress-height - 1px;

$border-width: 1px;
$snackbar-container-min-width: 288px;
$snackbar-action-width: 140px;
$snackbar-gutter: 24px;

$module-gutter-height: 15px;

$touch-hover-color: #ececec;

$slider-input-area-size: 36px;
$slider-background-size: 2px;
$slider-knob-size: 14px;
$label-width: 72px;
$line-height: $slider-input-area-size;
$popup-gutter: 20px;


$large-material-icon-height: 22px;
$large-material-icon-width: 18px;

$track-time-container-height: 20px;
$picture-width: 90px;
$picture-height: $picture-width;
$player-controls-vertical-space: $picture-height + $track-time-container-height;

$toolbar-height: 45px;
$toolbar-bottom-margin: 10px;
$toolbar-vertical-space: $toolbar-height + $toolbar-bottom-margin;

$snackbar-vertical-space: 48px;


@mixin css-filter($filter...) {
  filter: $filter;
}


@mixin ultra-small-screen {
    @media (max-width: #{$medium-small-screen-width - 1px}) {
        @content;
    }
}


@mixin medium-small-screen {
    @media (min-width: #{$medium-small-screen-width}) and (max-width: #{$small-screen-width - 1px}) {
        @content;
    }
}


@mixin small-screen {
    @media (min-width: #{$small-screen-width}) and (max-width: #{$large-screen-width - 1px}) {
        @content;
    }
}


@mixin large-screen {
    @media (min-width: #{$large-screen-width}) {
        @content;
    }
}


@mixin ultra-short-screen {
    @media (max-height: #{$medium-small-screen-height - 1px}) {
        @content;
    }
}

@mixin medium-short-screen {
    @media (min-height: #{$medium-small-screen-height}) and (max-height: #{$small-screen-height - 1px}) {
        @content;
    }
}

@mixin short-screen {
    @media (min-height: #{$small-screen-height}) and (max-height: #{$large-screen-height - 1px}) {
        @content;
    }
}

@mixin long-screen {
    @media (min-height: #{$large-screen-height}) {
        @content;
    }
}

@mixin desktop {
    @media (min-height: #{$large-screen-height}) and (min-width: #{$large-screen-width}) {
        @content;
    }
}

@mixin non-desktop {
    @media (max-height: #{$large-screen-height - 1px}), (max-width: #{$large-screen-width - 1px}) {
        @content;
    }
}

@mixin keyframes($animationName) {
    @keyframes #{$animationName} {
        @content;
    }
}

@mixin box-shadow($shadow...) {
  box-shadow: $shadow;
}

@mixin scale($ratio...) {
          transform: scale($ratio);
}

@mixin scale-gpu($ratio...) {
          transform: translateZ(0) scale($ratio);
}

@mixin scaleX($ratio) {
          transform: scaleX($ratio);
}
@mixin scaleY($ratio) {
          transform: scaleY($ratio);
}
@mixin translateX($ratio) {
          transform: translateX($ratio);
}
@mixin translateY($ratio) {
          transform: translateY($ratio);
}
@mixin skew($x, $y) {
          transform: skewX($x) skewY($y);
}
@mixin skew1($x) {
          transform: skewX($x);
}
@mixin translate($x, $y) {
  transform: translate($x, $y);
}

@mixin translate3d($x, $y, $z) {
  transform: translate3d($x, $y, $z);
}
@mixin rotate($degrees) {
  transform: rotate($degrees);
}
@mixin rotateX($degrees) {
  transform: rotateX($degrees);
}
@mixin rotateY($degrees) {
  transform: rotateY($degrees);
}
@mixin perspective($perspective) {
  perspective: $perspective;
}
@mixin perspective-origin($perspective) {
  perspective-origin: $perspective;
}
@mixin transform-origin($origin) {
  transform-origin: $origin;
}


@mixin transition($transition...) {
  transition: $transition;
}
@mixin transition-property($transition-property...) {
  transition-property: $transition-property;
}
@mixin transition-delay($transition-delay) {
  transition-delay: $transition-delay;
}
@mixin transition-duration($transition-duration...) {
  transition-duration: $transition-duration;
}
@mixin transition-timing-function($timing-function) {
  transition-timing-function: $timing-function;
}
@mixin transition-transform($transition...) {
  transition: transform $transition;
}

@mixin transition-filter($transition...) {
  transition: filter $transition;
}

@mixin transition-transform-filter($transition...) {
  transition: transform, filter $transition;
}

@mixin transition-transform-filter-separate($transformt, $filtert) {
  transition: transform $transformt, filter $filtert;
}

// User select
// For selecting text on the page

@mixin user-select($select) {
  user-select: $select;
}

@mixin border-top-radius($radius) {
  border-top-right-radius: $radius;
  border-top-left-radius: $radius;
}
@mixin border-right-radius($radius) {
  border-bottom-right-radius: $radius;
  border-top-right-radius: $radius;
}
@mixin border-bottom-radius($radius) {
  border-bottom-right-radius: $radius;
  border-bottom-left-radius: $radius;
}
@mixin border-left-radius($radius) {
  border-bottom-left-radius: $radius;
  border-top-left-radius: $radius;
}

@mixin calc($property, $expression) {
  #{$property}: calc(#{$expression});
}
