@import "variables";

$visualizer-height: 118px;

.visualizer-coverart-section-container {
    margin: 15px 0px;
    width: 100%;
}

.picture-module-container {
    display: inline-block;
}

.picture-container {
    display: inline-block;
    vertical-align: top;
}

.picture-container img {
    border: none;
    display: inline-block;
    vertical-align: top;
}

.visualizer-container {
    height: $visualizer-height;
}

.visualizer {
    height: $visualizer-height;
    display: block;
    transform: translate3d(0, 0, 0);
}

.latency-input-row {
    width: $ultra-small-screen-width - 22;
    box-sizing: border-box;
}
