@import "variables";
@import "shadows";

.visualizer-section-container {
    grid-area: visualizer;
    @include shadow-2dp();
    border-radius: $subtle-radius;
    background-color: #fff;
    border: 1px solid #F4F4F4;
}

.visualizer {
    height: 100%;
}
