.visualizer-coverart-section-container {
    margin: 15px 0px;
    width: 100%;
}

.visualizer-section-container {
    margin-left: 28px;
}

.picture-module-container {
    display: inline-block;
}

.picture-container {
    display: inline-block;
    vertical-align: top;
}

.picture-container img {
    border: none;
    display: inline-block;
    vertical-align: top;
}

.visualizer-container {
    height: 118px;
}

.visualizer {
    height: 100%;
    display: block;
}
