node_modules
build/**
build
dist
dist/**
.yarn/*
!.yarn/cache
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
*/dist/**
*/dist
*.code-workspace
.vscode
build
wasm/*
cookies.txt
.secrets
.DS_Store

npm install @ffmpeg/ffmpeg
