@import "variables";

#app-loader {
    margin: 100px auto 0px auto;
    font-size: 0;
}

#app-loading-container {
    height: 40px;
    margin: 0px auto;
    position: relative;
    text-align: center;
}

#noscript {
    color: #333333;
    font-size: $text-size;
    text-align: center;
    position: absolute;
    z-index: 100000;
    top: 0px;
    left: 0px;
    background-color: #FFFFFF;
}
#app-content-holder {
    cursor: default;
    background-color: #ffffff;
    position: relative;
}

#app-loader .missing-features {
    text-align: left;
    font-size: 16px;
    display: inline-block;
    vertical-align: top;
}

#app-loader .missing-features .missing-feature-list {
    font-size: 15px;
    margin-left: 40px;
}

#app-loader .missing-features .missing-feature-list .missing-feature-list-item {
    margin-bottom: 10px;
}


$ball-size: 12px;
$ball-gap: $ball-size / 2;
$animation-duration: 0.85s;
.loader-container {
    display: inline-block;
    width: $ball-gap * 2 + $ball-size * 3;
    height: $ball-size;
    position: relative;
    vertical-align: top;
    @include translate3d(0, 0, 0);
    margin-top: $ball-size/2;
    opacity: initial;
    will-change: initial;
    @include transition-property(opacity);
    @include transition-timing-function(cubic-bezier(.55, 0, .1, 1));
    @include transition-duration(0.6s);


    &.initial {
      display: none;
      opacity: 0;
      will-change: opacity;
    }
}

.loader-container .ball {
  width: $ball-size;
  height: $ball-size;
  display: inline-block;
  vertical-align: top;
  background-color: #dcdcdc;
  position: absolute;
  top: 0px;
  transform-origin: 50% 50%;
  border-radius: 50%;
  animation-fill-mode: both;
  animation: bounce $animation-duration infinite 0s ease-in-out alternate;
  @include box-shadow(1px 1px 3px #333);
}

.loader-container .ball.ball1 {
    left: 0px;
}

.loader-container .ball.ball2 {
    left: $ball-size + $ball-gap;
    animation-delay: $animation-duration * 0.33;
}

.loader-container .ball.ball3 {
    left: ($ball-size + $ball-gap) * 2;
    animation-delay: $animation-duration * 0.66;
}

@include keyframes('bounce') {
    0%, 50% {
        transform: translateY(0px);
    }

    100% {
        transform: translateY(-(1.75*$ball-size));
    }
}
