@import "variables";

.body-dimmer {
    $full-opacity: 60%;

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    @include translate3d(0, 0, 0);
    background-color: #000;
    @include transition-filter(0.3s cubic-bezier(0.4, 0, 0.2, 1));
    @include css-filter(opacity($full-opacity));

    &.transition-in {
        @include css-filter(opacity($full-opacity));
    }

    &.transition-in.initial {
        @include css-filter(opacity(0%));
    }

    &.transition-out {
        @include css-filter(opacity(0%));
    }

    &.transition-out.initial {
        @include css-filter(opacity($full-opacity));
    }

}
